:root {
    --border-color: #aaa;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.title-text {
    margin: 10px 0;
    /*font-size: 2rem;
    padding: 0.7rem 0 0 0;*/
}

#container {
    text-align: center;
    margin: 0 auto;
    width: 90%;
}

#form {
}

#title-text {
    width: calc(100% - 10px);
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 700px;
    /*width: 210mm;
    height: 90vh;*/
    grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr;
}

.day {
    box-sizing: border-box;
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding: 10px;
    text-align: left;
    position: relative;
}

.day-name {
    height: auto;
    border-top: 1px solid var(--border-color);
}

.calendar .day:nth-child(7n + 1) {
    border-left: 1px solid var(--border-color);
}

.date-number {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 14px;
    padding-left: 7px;
}

@media print {
    body {
        margin: 0;
    }

    .calendar {
        width: 95%;
    }

    .day {
        font-size: 10px;
    }

    #form, #title-previous, #title-next {
        display: none;
    }
}

@page {
    margin: 0;
}